{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                {{ message|striptags|safe|linebreaksbr|capfirst }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                        <div class="card-header justify-content-center">
                            <h3 class="font-weight-light my-4 text-center">Set Your Password</h3>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                <br/>
                                {{ form|crispy }}
                                <br/>
                                <div class="col-md-10" style="text-align: left">
                                    <button type="submit" class="btn btn-primary">Set password</button>
                                </div>
                            </form><br>
                            <div class="modal-footer">
                                <a href="{% url 'main:user_profile' %}">
                                    <button class="btn btn-secondary" >Back to profile</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}