{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Gallery photos{% endblock %}
{% block content %}
    {% if user.id != gallery.author.id %}
        <div class="card-title text-center">
            <b>Not your gallery: you must be logged in as a proper user:
                <a href="{% url 'authentication:login_user' %}" class="btn btn-primary">Sign-in</a>
            </b>
        </div>
    {% else %}
    <div style="text-align: right; font-size: medium">
        <a href="{% url 'galleries:galleries_list_view' %}"><button class="btn btn-secondary">Back to list</button></a>
    </div><br>

    <!-- Gallery Images -->
        <div class="card card-body">
            <div class="container">
                {% if user.id == gallery.author.id %}
                    <h3 class="fw-light text-center text-lg-start mt-4 mb-0">{{ gallery.title }}</h3>
                    <hr class="mt-2 mb-5">
                    <div class="row text-center text-lg-start">
                        {% for gallery_image in gallery.photos.all %}
                                {% if gallery_image.is_published %}
                                    <div class="col-lg-3 col-md-4 col-6">
                                    {% thumbnail gallery_image.image "x300" as im %}
                                        <a href="{{ gallery_image.image.url }}" class="d-block mb-4 h-100">
                                            <img class="img-fluid img-thumbnail" src="{{ im.url }}" alt="image">
                                        </a>
                                    {% endthumbnail %}
                                    </div>
                                {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <br/><br/>
    {% endif %}
{% endblock %}

