{% extends 'base.html' %}

{% block content %}
    <div class="card-body" style="background-color: white">
    <p>{{ user.username }} </p>
    <p> {{ user.email }} </p>
    <p> {{ user.userprofile }} </p>
<div class="container">
{#    {% for gallery in galleries %}#}
{#        {% if gallery.photos.count != 0 %}#}
{#        title: {{ gallery.title }}<br/>#}
{#            photos count: {{ gallery.photos.all.values_list }}<br/>#}
{#<br/>#}
{#        {% endif %}#}
{#    {% endfor %}#}
</div>
        {% for photo in photos %}
            {{ photo.title }}:
    {{ photo.how_often }}
            <br/>
    {% endfor %}
    <br/>
        {% for users in gal_users %}
    {{ users }}
    {% endfor %}
    </div>

{% endblock %}