{% extends 'base.html' %}

{% block content %}
    <div class="card card-body">
        <h2><i><b>Category: </b>{{ category.title }}</i></h2><hr><br>
        <p><i><b>Description: </b>{{ category.description }}</i></p>
{#    {{ category.get_absolute_url }}#}
    </div><br>
    <div class="card card-body">
        {% for item in post %}
            <div class="card card-body">
                <h4><b>Post: '{{ item.title }}'</b></h4>
                {{ item.description|truncatechars:50 }}
            </div>
            {{ value|linebreaks }}
        {% endfor %}
    </div><br>
    <div style="text-align: right; font-size: medium">
        <a href="{% url 'blog:blog_list' %}"><button class="btn btn-secondary">Back to list</button></a>
    </div>
{% endblock %}
