{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page not found</title>
</head>
<body>
{#<body id="bg" style="background-image: url('{% static "main/img/background.png" %}');">#}
    <h2 style="text-align: center">Page Not Found!</h2>
    <p style="text-align: center"><b>This page was not found! Check if your address is correct.</b></p>
    <p style="text-align: center"> <img src="{% static "main/img/404-Not-Found.png" %}" alt="logo" width="40%"></p>
</body>
</html>

