{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Server error</title>
</head>
<body>
{#<body id="bg" style="background-image: url('{% static "main/img/background.png" %}');">#}
    <p style="text-align: left"><a href="{% url 'main:home_page' %}">Back to home page</a></p>
    <p style="text-align: center"> <img src="{% static "main/img/500-Internal-Server-Error.png" %}" alt="logo" width="40%"></p>
{#    <h2 style="text-align:center">500 Internal Server Error!</h2>#}
    <p style="text-align: center">
        Oops, something went wrong!
        The server encountered an internal error or misconfiguration and was unable to complete your request.
        Please contact the server administrator.
    </p>
</body>
</html>
