{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <!-- Page title -->
    <div style="text-align: center; font-size: large">
        <h5><b>{% trans 'Welcome to Watering Plants Application' %}</b></h5>
    </div>
    <!-- Two blocks section -->
    <div class="container">
        <div class="col-12">
            <div class="my-5">
                <div style="display: flex; justify-content: center">
                    <!-- weather section -->
                    <div class="col-sm-12 col-md-12 col-lg-3 pb-4 special-card">
                        <div class="card bold-card p-4">
                            <h4 class="card-title font-weight-bold text-center">{% trans 'Weather info' %}
                                <i class="fa-solid fa-temperature-half"></i>
                            </h4><hr>
                            {{ values|linebreaks }}
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-60x60">
                                        <img src="https://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <span class="title">{{ weather.city|capfirst }}, {{ weather.country_code }}</span>
                                            {{ values|linebreaks }}
                                            <span class="subtitle"><b>{{ weather.temperature }}°C</b></span>
                                            <br> Feels like {{ weather.feels_like }}°C ({{ weather.description }})
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div style="text-align: center; padding-top: 10px; padding-bottom: 10px">
                            <button type="button" class="btn button-pill">
                                <a href="{% url 'main:newsletter_sign_up' %}" class="nav-link">Newsletter</a>
                            </button>
                            <button type="button" class="btn button-pill">
                                <a href="{% url 'main:policy' %}" class="nav-link">Cookies policy</a>
                            </button><hr>
                        </div>
                        <p style="text-align: center;">
                            <a href="https://github.com/monwisn/" target="_blank">
                                <i class="fa-brands fa-github fa-bounce fa-xl" style="color: #203355;"></i></a>
                            &nbsp;
                            <a href="https://www.linkedin.com/in/monika-wi%C5%9Bniewska-174991172" target="_blank">
                                <i class="fa-brands fa-linkedin fa-xl" style="color: #4880c4;"></i></a>
                            &nbsp;
                            <a href="https://monwisn.github.io/monwisn-cv/monika-wisniewska..pdf" target="_blank">
                                <i class="fa-solid fa-download fa-xl" style="color: #57c8f9;"></i></a>
                            &nbsp;
                            <a href="https://www.instagram.com" target="_blank">
                                <i class="fa-brands fa-instagram fa-xl" style="color: #db2ddb;"></i></a>
                            &nbsp;
                            <a href="https://twitter.com/" target="_blank">
                                <i class="fa-brands fa-x-twitter fa-xl" style="color: #000000;"></i></a>
                        </p>
                    </div>
                    &nbsp;&nbsp;&nbsp;
                    <!-- carousel section -->
                    <div id="slider" class="carousel slide" data-ride="carousel" data-interval="4000" align="center">
                        <ol class="carousel-indicators">
                            <li data-target="slider" data-slide-to="0" class="active"></li>
                            <li data-target="slider" data-slide-to="1"></li>
                            <li data-target="slider" data-slide-to="2"></li>
                            <li data-target="slider" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner">
                            {% for image in images %}
                                <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                                    <img src="{{ image.image.url }}" style="width: 45%" class="d-block w-100" alt="">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h3>{{ image.sub_title }}</h3>
                                    </div>
                                </div>
                            {% endfor %}
                            <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="new-footer">
            <p>© {% now "Y" %} Copyright:
                <a href={{ current_site.domain }}>PlantsApp.com</a>
            </p>
        </div>
    </footer>
{% endblock %}
