{% extends 'base.html' %}

{% block title %}Random generated avatars{% endblock %}
{% block content %}
    <div class="col-sm-10 col-md-10 col-lg-10 offset-1 pb-4 special-card">
        <div class="card bold-card p-4">
            <h5 style="text-align: center">Click the refresh button to show more possible avatars for download.</h5><hr>
            <div class="container">
                <button class="btn btn-primary" onClick="window.location.reload();">Refresh <i class="fa fa-refresh white"></i></button><br><br>
                <div class="row justify-content-center">
                    <div style="text-align: center; margin: auto">
                        <img src="//joeschmoe.io/api/v1/female/random" alt="woman_avatar" width="320" height="320" style="border:2px solid black">&nbsp;&nbsp;
                        <img src="//joeschmoe.io/api/v1/male/random" alt="man_avatar" width="320" height="320" style="border:2px solid black">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}