/* dark.css */

body {
  /* Dark mode styles */
  /*background-color: #000000;*/
  background-color: darkseagreen;
  color: wheat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: auto;
}

/* Heading color */
h1, h2, h3 {
  color: wheat;
}

textarea {
  padding-top:10px;
  padding-bottom:25px;
  width:100%;
  display:block;
}

section {
    display: block;
}

.media {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
}

.media-left {
  margin-right: 1rem;
}

.media-content {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    overflow: auto;
    text-align: left;
}

.image.is-60x60 {
  height: 60px;
  width: 60px;
}

.subtitle {
  color: wheat;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
}

.title {
  color: wheat;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.125;
}

.title,
.subtitle {
  word-break: break-word;
}

.datetime {
    /*display: block;*/
    font-size: medium;
}

.bold-card {
    border: 1px solid lightgrey;
}

.dropdown-menu {
    /*background-color: transparent;*/
    background-color: rgba(85, 107, 47, .85) !important;
}

    h1 {
        color: wheat;
        text-align:center;
    }
    h2 {
        color: wheat;
        text-align: center;
    }
    h3 {
        color: wheat;
        text-align: center;
    }

    p {
        font-family: Calibri;
        font-size: 20px;
    }

.select2-container {
    min-width: 15em !important;
    width: 100% !important;
}

ul {
    list-style-type: none;
}

ul li a {
    color: cornflowerblue;
    text-decoration: none;
}

ul li a:hover {
    color: darkblue;
}

.box1 {
    background-color: darkolivegreen;
    /*font-style: normal;*/
    opacity: .80;
}

.box2 {
    background-color: darkolivegreen;
    /*color: black;*/
    /*font-style: normal;*/
    opacity: .90;
}

.photos-box {
    background-color: darkolivegreen;
    opacity: 0.85;
}

.special-card {
  background-color: transparent;
  opacity: .85;
}

.special-cards {
  background-color: darkolivegreen;
  opacity: .85;
}

/* Card container */
.card {
  background-color: darkolivegreen;
  color: wheat;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Card title */
.card .title {
  color: wheat;
  font-size: 20px;
}

/* Card content */
.card .content {
  color: wheat;
  margin-top: 10px;
}

.card .text {
    color: wheat;
}

/* Card button */
.card .button {
  background-color: darkolivegreen;
  color: wheat;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.card .button:hover {
  background-color: darkolivegreen;
}

.social-footer {
    padding: 1rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.social-footer .social-footer-icons li:last-of-type {
    margin-right: 0;
}

.social-footer .social-footer-icons .fa {
    font-size: 1.3rem;
    color: wheat;
}

.social-footer .social-footer-icons .fa:hover {
    color: #4a4a4a;
    transition: color 0.3s ease-in;
}

.fa-social {
    padding: 12px;
    font-size: 25px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.button-pill {
  background-color: darkolivegreen;
  border: none;
  color: wheat;
  padding: 3px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.button-pill:hover {
  background-color: darkolivegreen;
}

.button-pills {
  background-color: wheat;
  border: none;
  color: wheat;
  padding: 4px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.button-pills:hover {
  background-color: lightcyan;
}

.align-center {
    text-align: center;
}

#slider {
    opacity: 0.85;
    alignment: center;
  }

#confirmCookie {
  background: none repeat scroll 0 0 rgba(85, 107, 47, 0.6);
  margin: 0;
  position: relative;
  transition: all 0.5s ease-out 0s;
  z-index: 9999;
  box-shadow: -2px 0 15px #999;
  bottom: 0;
  width: 100%;
  color: wheat;
}

#confirmCookie p {
 padding: 10px;
}

.centerImage
{
 text-align:center;
 display: inline;
}

.photo_gallery
{
    display: block;
    margin: auto;
    width: 70%
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators
{
    filter: invert(100%);
}

.flower-background {
    background-image: url("/media/bg-carousel.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 80%;
    border: 1px solid dimgrey;
}

.new-footer {
    background: transparent;
    /*background: white;*/
    /*opacity: 0.6;*/
    color: darkolivegreen;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

.galleries {
    height:100px;
    width:auto;
    text-align:center;
    border:1px solid #ccc;
    font:14px/24px Arial, Garamond, Serif;
    overflow:auto;
}

